@include mediaXl {
}

//Desktop and Laptops
@include mediaLg {
}

//Tablets and Small laptops
@include mediaMd {
  #logo {
    margin-left: 10px;
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2";
    grid-template-columns: 1fr;
    width: 100vw;
    padding: 20px;
  }
  .main-contact {
    flex-direction: column;
  }
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .social-media {
    ul {
      li {
        margin: 0 10px;

        a {
          height: 30px;
          width: 30px;

          .fa {
            font-size: 25px;
          }
        }
      }
    }
    .gallery {
      padding: 20px;
    }
  }
}
//Smartphones
@include mediaSm {
  .container {
    padding: 20px;
  }
  #home .container {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 20px;
    }
  }
  .slider-wrapper {
    letter-spacing: 0px;
    @include flex;
    flex-direction: column;
  }

  .slider {
    padding-left: 0px;
    .slider-text1 {
      font-size: 20px;
    }
  }
  .main-button {
    flex-direction: column;
  }
  .navigation button {
    font-size: 14px;
  }
  .gallery {
    padding: 10px;
  }
  .top-img h1 {
    font-size: 50px;
  }
  .main-button .btn a {
    margin-top: 10px;
  }
  .btn-top {
    margin-top: 10px;
  }
  .btn-bottom {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  #header .header {
    min-height: 5vh;
  }

  #header .hamburger {
    display: none;
  }
  .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background: transparent;
    padding-right: 20px;

    li {
      display: inline-block;
      margin: 0 20px;
      opacity: 1;
    }
  }
  #header .header .nav-bar .nav-list ul a {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 20px;
  }
}
