@import "config";
@import "portfolio";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
// loader
// Variables
$bar-color: $secondary-color;
$ball-color: #fff;
$bg-color: #111;

html {
  height: 100%;
}
.loader-body {
  height: 100vh;
  background: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h4 {
    position: relative;
    color: #fff;
    font-weight: lighter;
    margin-top: 10px;
    font-size: 15px;
  }
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;

  &__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: $bar-color;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        left: ($i - 1) * 15px;
        transform: scale(1, $i * 0.2);
        animation: barUp#{$i} 4s infinite;
      }
    }
  }

  &__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: $ball-color;
    border-radius: 50%;
    animation: ball 4s infinite;
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
main {
  opacity: 0;
  display: none;
  @include easeOut;
}
// loader end

[data-scroll] {
  transition: all 1.5s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  padding: 40px;
  overflow-x: hidden;
}
#header .container {
  padding: 0;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 10;

  .brand {
    margin-top: 5px;
  }
}
#logo {
  margin-left: 50px;
  animation: logozoom 1.3s ease 1.7s;
  #path-1 {
    animation: anim1 1.5s ease;
    transform-box: fill-box;
    transform-origin: center;
  }
  @keyframes anim1 {
    from {
      transform: translate(200px);
    }
    to {
      transform: translate(0);
    }
  }
  #path-2 {
    animation: anim2 1.5s ease;
    transform-box: fill-box;
    transform-origin: center;
  }
  @keyframes anim2 {
    from {
      transform: translateY(-200px);
    }
    to {
      transform: translateY(0px);
    }
  }
  #path-3 {
    animation: anim3 1.5s ease;
    transform-box: fill-box;
    transform-origin: center;
  }
  @keyframes anim3 {
    from {
      transform: translateY(200px);
    }
    to {
      transform: translateY(0px);
    }
  }
  @keyframes logozoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}

#header .header {
  min-height: 8vh;
  background: rgba(10, 10, 10, 0.5);
  transition: all 0.3s ease-out;

  .nav-bar {
    @include flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;

    .nav-list {
      ul {
        a {
          text-decoration: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 25px;
          padding: 30px 10px;
          display: block;
          color: #fff;
          display: block;
          @include easeOut;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.nav-list ul {
  z-index: 5;
  background: rgb(0, 42, 75);
  position: absolute;
  @include flex;
  flex-direction: column;
  list-style: none;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  overflow-x: hidden;
  @include easeOut;
}
.nav-list ul.active {
  left: 0;
}
#header .hamburger {
  position: relative;
  height: 25px;
  width: 30px;
  z-index: 10;
  @include flex;
  @include easeOut;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

#header .hamburger.active {
  transform: rotate(180deg);

  div {
    background: rgb(255, 2, 2);
    &:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(10px, -10px);
    }
  }
}
.hamburger div {
  border-radius: 5px;
  background-color: #fff;
  height: 3px;
  width: 100%;
}
.nav-list ul li {
  opacity: 0;
}
@keyframes listFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#home .container {
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("/images/laptop.jpg");
  background-size: cover;
  overflow: hidden;
  @include flex;
  flex-direction: column;

  h1 {
    font-size: 60px;
    text-transform: uppercase;

    span {
      color: $secondary-color;
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 500;
  }
}

.slider-wrapper {
  letter-spacing: 1px;
  font-size: 25px;
  @include flex;
}

.slider {
  text-transform: uppercase;
  font-weight: 700;
  height: 30px;
  padding-left: 10px;
  overflow: hidden;

  div {
    height: 50px;
    margin-bottom: 50px;
    padding: 0px 10px;
    text-align: center;
  }
}
.slider-text1 {
  background: $secondary-color;
  animation: slide 6s linear infinite;
}
.slider-text2 {
  background: coral;
}
.slider-text3 {
  background: cornflowerblue;
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
.main-button {
  margin-top: 20px;
  @include flex;
  gap: 20px;

  .btn {
    padding: 10px;
    color: white;
    width: 180px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn1 {
    background: $secondary-color;
    @include easeOut;
    &:hover {
      background: #149da7;
    }
  }
  .btn2 {
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #fff;
    margin-left: 0px;
    @include easeOut;
    &:hover {
      background: $secondary-color;
    }
  }
}

.social-media {
  z-index: 1;
  margin-top: 40px;

  ul {
    position: relative;
    display: flex;

    li {
      list-style: none;
      position: relative;
      margin: 0 20px;

      a {
        @include flex;
        text-decoration: none;
        background: #ddd;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50%;

        .fa {
          font-size: 40px;
          color: #111;
          @include easeOut;
        }
        .fa-twitter:hover {
          color: #1da1f2;
        }
        .fa-facebook:hover {
          color: #3b5998;
        }
        .fa-github:hover {
          color: #211f1f;
        }
        .fa-instagram:hover {
          color: #c13584;
        }
      }
    }
  }
}

#about {
  background: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
.about {
  @include flex;
  flex-direction: column;

  h1 {
    font-size: 40px;
  }
}
.about-info {
  text-align: justify;
  line-height: 20px;
  margin-top: 20px;

  width: 800px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio"
    "job1 job2";
  grid-template-columns: repeat(2, 1fr);
}
.bio-image {
  grid-area: bioimage;
  height: 220px;
  margin: auto;
  border-radius: 50%;
  border: 4px solid $secondary-color;
  box-shadow: 2px 5px 10px #000;
}

.bio-image[data-scroll="out"] {
  transform: translateX(-200px);
}
.bio {
  grid-area: bio;
  @extend .job;
}
.bio[data-scroll="out"] {
  transform: translateX(200px);
}
.job-1 {
  grid-area: job1;
}
.job-1[data-scroll="out"] {
  transform: translateY(200px);
}
.job-2 {
  grid-area: job2;
}
.job-2[data-scroll="out"] {
  transform: translateY(200px);
}
.job {
  background: darken($primary-color, 1);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 10px #000;
  border-bottom: 3px solid $secondary-color;
}
p {
  margin-top: 10px;
}
h3 {
  color: $secondary-color;
  font-size: 22px;
}
i {
  font-size: 22px;
}

.job-heading {
  display: flex;
  gap: 10px;
}

.contact {
  background: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url("/images/himalayabnw.jpg") center no-repeat;
  background-size: cover;
  @include flex;
  flex-direction: column;
  padding: 50px 50px;

  .contact-intro {
    font-size: 30px;
    max-width: 800px;
    text-align: center;
  }
}
.main-contact {
  width: 100%;
  @include flex;
  margin-top: 30px;
}
.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;

  .box {
    position: relative;
    padding: 20px 0;
    display: flex;

    .icon {
      min-width: 60px;
      height: 60px;
      @include flex;
      background: $secondary-color;
      border-radius: 50%;

      i {
        font-size: 20px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      font-size: 16px;

      h3 {
        font-weight: 500;
      }
    }
  }
}
.contact-info[data-scroll="out"] {
  transform: translateX(-200px);
}
.contact-form[data-scroll="out"] {
  transform: translateX(200px);
}
.contact-form {
  width: 40%;
  padding: 40px;
  background: rgba(78, 78, 78, 0.5);
  color: $primary-color;
  border-radius: 10px;
  box-shadow: 2px 5px 10px black;

  h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;

    span {
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
    }
  }
  input,
  textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid $secondary-color;
    outline: none;
    resize: none;
    background: transparent;
    color: #fff;
  }
  .input-box input:focus ~ span,
  .input-box input:valid ~ span,
  .input-box textarea:focus ~ span,
  .input-box textarea:valid ~ span {
    color: $secondary-color;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .input-box input[type="submit"] {
    width: 100%;
    background: $secondary-color;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    @include easeOut;
    &:hover {
      background: #0f6edb;
      border-bottom: none;
    }
  }
}

@import "queries";
